{% extends "myapp/master_template.html" %}

{% block title %}
Sunratu-Django
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container" style="background-color: aliceblue">
  <div class="row text-center" style="padding: 10px">
    <div class="col">
      <h2 class="">Welcome to sunratu shop,</h2>

      {% if user.is_authenticated %}
      Hai, {{ user.username }}!, 
      {% else %}
      You are not logged in.
      {% endif %}

      you can buy anything about clothes, tshirt, pant, trousers, and etc.
      <div class="container-body">

        <div class="row" style="padding: 10px">
            {% for data in products_part1 %}
            <div class="col">
              <img src="{{ media_url }}{{ data.image }}" class="img-thumbnail rounded" alt="satu" data-toggle="modal" data-target="#modal{{ data.id }}">
            </div>
                <!-- Modal -->
                <div class="modal fade" id="modal{{ data.id }}" tabindex="-1" aria-labelledby="modal{{ data.id }}Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="{{ media_url }}{{ data.image }}" class="img-fluid" alt="satu" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
            {% endfor %}
        </div>

          <div class="row" style="padding: 10px">
            {% for data in products_part2 %}
            <div class="col">
              <img src="{{ media_url }}{{ data.image }}" class="img-thumbnail rounded" alt="satu" data-toggle="modal" data-target="#modal{{ data.id }}">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal{{ data.id}}" tabindex="-1" aria-labelledby="modal{{ data.id }}Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="{{ media_url }}{{ data.image }}" class="img-fluid" alt="satu" />
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->
            {% endfor %}
          </div>

<script>
  $(document).ready(function() {
    $('.img-thumbnail').on('click', function() {
      var targetModal = $(this).data('target');
      $(targetModal).modal('show');
    });
  });
</script>













          
        <h3>
          Kami juga bisa melayani pembelian secara online dengan cara sebagai
          berikut :
        </h3>
        
        <h5>
          Silahkan Pilih Baju kesayangan anda, screen gambar dan kirimkan<br />
          ke customer service kami
          <span class="blink_me">via Whatsup : 0853 3832 1400</span>
        </h5>

      </div>
    </div>
  </div>
</div>
    
{% endblock %}