{% extends "myapp/master_template.html" %}

{% block title %}
Sunratu-Django
{% endblock %}

{% block content %}

    <h1>Product Detail</h1>
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
    <form action="{% url 'product_delete' pk=product.pk %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'product_update' pk=product.pk %}">Edit</a>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

{% endblock %}
